PORT=8000
MONGODB_URI=mongodb+srv://passwrod:adfsvjb vaj@cluster0.l9zk4je.mongodb.net/BACKEND?appName=Cluster0
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET =  abc
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = ajfkn
REFRESH_TOKEN_EXPIRY = 10d